@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?q62w3y");
  src: url("../fonts/icomoon.eot?q62w3y#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?q62w3y") format("truetype"), url("../fonts/icomoon.woff?q62w3y") format("woff"), url("../fonts/icomoon.svg?q62w3y#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-minus:before {
  content: "\e904";
}

.icon-plus:before {
  content: "\e905";
}

.icon-cheveron-down:before {
  content: "\e901";
}

.icon-cheveron-left:before {
  content: "\e902";
}

.icon-cheveron-right:before {
  content: "\e903";
}

.icon-cheveron-up:before {
  content: "\e900";
}

@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: "Lato-bold";
  src: url(../fonts/Lato-Bold.ttf);
}
@font-face {
  font-family: "Lato-light";
  src: url(../fonts/Lato-Light.ttf);
}
@font-face {
  font-family: "Lato-italic";
  src: url(../fonts/Lato-RegularItalic.ttf);
}
@font-face {
  font-family: "Droid";
  src: url(../fonts/DroidSans.ttf);
}
@font-face {
  font-family: "Droid-bold";
  src: url(../fonts/DroidSans-Bold.ttf);
}
@font-face {
  font-family: "Quicksand-bold";
  src: url(../fonts/Quicksand-Bold.otf);
}
* {
  margin: 0;
}

.navigation {
  position: absolute;
  top: 0;
  margin-top: 20px;
  width: 100%;
  height: 100px;
  z-index: 5;
}

.navbar-container {
  display: flex;
  height: 100%;
  max-width: 1200px;
  margin: auto;
  justify-content: space-between;
}

.navbar-logo {
  height: 100%;
  margin-left: 20px;
}

.navbar {
  display: flex;
  width: 70%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
}

.nav-item {
  width: 100%;
  height: 100%;
}
.nav-item:hover .nav-expandable {
  display: block;
}
.nav-item:hover .icon-cheveron-down {
  display: none;
}
.nav-item:hover .icon-cheveron-up {
  display: block;
}
.nav-item:hover .expandable {
  color: #fe992a;
  background-color: white;
  padding-bottom: 20px;
}

.nav-link {
  display: flex;
  font-family: "Lato";
  text-decoration: none;
  color: white;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  font-size: 18px;
}
.nav-link:hover {
  color: #fe992a;
  background-color: rgba(255, 255, 255, 0.5);
}

.expandable {
  justify-content: center;
}

.nav-expandable {
  display: none;
  position: absolute;
  background-color: white;
  width: 60%;
  left: 20%;
}

.submenu {
  display: flex;
  justify-content: space-between;
}

.nav-submenu {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 30%;
  font-family: "Lato";
}

.submenu-h2 {
  color: #7e868e;
  font-weight: normal;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 3px solid #fe992a;
}

.submenu-a {
  text-decoration: none;
  color: #7e868e;
  margin: 5px 0px;
  font-size: 20px;
}
.submenu-a:hover {
  text-decoration: underline;
}

.icon-cheveron-up {
  display: none;
  margin-left: 3px;
}

.icon-cheveron-down {
  margin-left: 3px;
}

.hamburger {
  display: none;
}
.hamburger .bar {
  display: block;
  width: 40px;
  height: 5px;
  margin: 10px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

@media (max-width: 1024px) {
  .navbar {
    width: 80%;
  }

  .navigation {
    margin: 0px;
    background-color: #fe992a;
  }

  .navbar-logo {
    height: 80%;
    margin: auto 10px;
  }

  .nav-expandable {
    width: 100%;
    left: 0;
  }

  .nav-link {
    font-size: 16px;
  }

  .nav-item:hover .expandable {
    border-top: 20px solid #fe992a;
    border-bottom: 20px solid white;
    height: 60px;
    padding-bottom: 0px;
  }
}
@media (max-width: 767px) {
  .navbar {
    position: fixed;
    right: -110%;
    top: -20px;
    flex-direction: column;
    background-color: #fe992a;
    width: 100%;
    height: 100vh;
    padding: 100px 0px 550px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 11;
    justify-content: flex-start;
  }
  .navbar.active {
    right: -20%;
  }

  .nav-item {
    height: 50px;
  }
  .nav-item:hover .expandable {
    color: white;
    background-color: #fe992a;
    padding-bottom: 0px;
    border-top: none;
    border-bottom: none;
    height: 50px;
    padding-bottom: 0px;
  }
  .nav-item:hover .nav-expandable {
    display: block;
  }

  .nav-link.expandable {
    width: 75%;
    justify-content: space-between;
  }

  .nav-link {
    justify-content: flex-start;
    padding-left: 20px;
  }

  .nav-expandable {
    background-color: #fe992a;
  }

  .submenu {
    flex-direction: column;
  }

  .nav-submenu {
    margin-left: 30px;
    margin-bottom: 5px;
    width: 70%;
  }

  .submenu-h2 {
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom: none;
    text-align: start;
  }

  .submenu-a {
    color: white;
    margin: 5px 0px;
    font-size: 16px;
    text-align: start;
    padding-left: 30px;
  }

  .hamburger {
    position: absolute;
    display: block;
    cursor: pointer;
    z-index: 15;
    top: 20px;
    right: 20px;
  }

  .hamburger.active {
    width: 100%;
    right: -7.5%;
    position: fixed;
  }

  .hamburger.active .bar {
    background-color: white;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(15px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-15px) rotate(-45deg);
  }
}
.swiper-background {
  width: 100%;
}

.headSwiper {
  height: inherit;
}
.headSwiper .swiper-slide {
  cursor: grab;
}
.headSwiper .swiper-slide:active {
  cursor: grabbing;
}
.headSwiper .swiper-text {
  width: 500px;
  position: absolute;
  top: 25%;
  left: 20%;
  color: white;
  font-family: "Lato-light";
}
.headSwiper .swiper-text-h1 {
  font-size: 65px;
  font-weight: normal;
}
.headSwiper .swiper-text-p {
  font-weight: bold;
  line-height: 30px;
  margin: 10px 0px;
}
.headSwiper .swiper-button-container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 94px;
  height: 50px;
  float: right;
  margin-right: 20%;
  bottom: 150px;
}
.headSwiper .swiper-button-next,
.headSwiper .swiper-button-prev {
  background-color: #e56c69;
  color: white;
  padding: 0px 5px;
  height: 35px;
}
.headSwiper .swiper-button-next::after,
.headSwiper .swiper-button-prev::after {
  font-size: 10px;
  font-weight: bold;
}

@media (max-width: 1024px) {
  .headSwiper .swiper-slide img {
    min-height: 600px;
  }
  .headSwiper .swiper-text {
    width: 300px;
    width: 50%;
    left: 5%;
  }
  .headSwiper .swiper-text-h1 {
    font-size: 40px;
  }
  .headSwiper .swiper-text-p {
    font-size: 16px;
    line-height: 30px;
  }
  .headSwiper .swiper-button-container {
    margin-right: 5%;
  }
}
@media (max-width: 767px) {
  .headSwiper .swiper-text {
    width: 90%;
  }
  .headSwiper .swiper-text-h1 {
    font-size: 30px;
  }
  .headSwiper .swiper-text-p {
    font-size: 14px;
    line-height: 25px;
  }
}
.diagonal-box {
  position: relative;
  transform: skewY(0.5deg);
  height: 100px;
  top: -30px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.5);
}

.diagonal-box-white {
  position: relative;
  background-color: white;
  transform: skewY(2deg);
  height: 70px;
  top: -90px;
  z-index: 1;
}

.quote-slider {
  z-index: 99;
  margin-bottom: 50px;
  margin-top: -100px;
  font-family: "Lato";
}

.quote-limiter {
  display: flex;
  max-width: 1200px;
  margin: auto;
}

.quoteSwiper {
  flex: 0 0 30%;
  width: 100%;
  height: 100%;
  border-right: 1px solid lightgray;
}
.quoteSwiper .swiper-slide {
  text-align: start;
  background: #fff;
  color: #fe992a;
  cursor: grab;
}
.quoteSwiper .swiper-slide:active {
  cursor: grabbing;
}
.quoteSwiper .swiper-slide-p {
  font-family: "Lato-italic";
  line-height: 35px;
  font-size: 25px;
  margin-top: 30px;
  margin-right: 30px;
}
.quoteSwiper .slide-apostrophe {
  font-size: 50px;
  position: absolute;
}
.quoteSwiper .slide-apostrophe-bottom {
  font-size: 50px;
  position: relative;
  bottom: -40px;
}
.quoteSwiper .swiper-button-container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 94px;
  height: 50px;
  float: right;
  margin-right: 50px;
  margin-top: 30px;
}
.quoteSwiper .swiper-button-next {
  background-color: #fe992a;
  color: white;
  padding: 0px 5px;
  height: 35px;
}
.quoteSwiper .swiper-button-next::after {
  font-size: 10px;
  font-weight: bold;
}
.quoteSwiper .swiper-button-prev {
  background-color: #fe992a;
  color: white;
  padding: 0px 5px;
  height: 35px;
}
.quoteSwiper .swiper-button-prev::after {
  font-size: 10px;
  font-weight: bold;
}

.quote {
  flex: 0 0 60%;
}

.quote-h1 {
  color: #fe992a;
  font-family: "Lato-light";
  font-size: 30px;
}

.quote-p {
  margin: 10px 0px;
  line-height: 30px;
  font-size: 18px;
  color: #7e868e;
}

@media (max-width: 1024px) {
  .quoteSwiper {
    flex: 0 0 45%;
  }

  .quote {
    flex: 0 0 45%;
  }

  .quote-h1 {
    font-size: 3.5vw;
  }

  .quote-p {
    margin-right: 10px;
    font-size: 2vw;
  }
}
@media (max-width: 767px) {
  .quote-limiter {
    flex-direction: column;
    width: 90%;
  }

  .quoteSwiper {
    border-right: none;
    border-bottom: 1px solid lightgray;
  }
  .quoteSwiper .swiper-button-container {
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .swiper-slide-p {
    margin-left: 30px;
  }

  .slide-apostrophe {
    margin-left: 30px;
  }

  .quote {
    margin: 20px;
  }

  .quote-h1 {
    font-size: 25px;
  }

  .quote-p {
    font-size: 16px;
  }
}
.page-footer {
  background-color: #e56c69;
  padding-bottom: 200px;
}

.footer-container {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-between;
  max-width: 1200px;
  padding-top: 50px;
}
@media (max-width: 1024px) {
  .footer-container {
    margin: auto 50px;
    flex-direction: column;
  }
}

.footer-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
@media (max-width: 1024px) {
  .footer-inner {
    margin-bottom: 50px;
    justify-content: space-between;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: "Lato";
}
@media (max-width: 767px) {
  .footer {
    display: none;
  }
}
.footer h3 {
  margin-bottom: 10px;
}
.footer span {
  margin: 5px 0px;
}
.footer a {
  color: white;
  text-decoration: none;
  margin: 5px 0px;
}
.footer a:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 767px) {
  .footer-1 {
    display: flex;
  }
  .footer-1 a {
    font-size: 14px;
  }
}
.commercial-navbar {
  background-color: #fe992a;
  margin-top: 0px;
}
.commercial-navbar .navbar-logo {
  height: 80%;
  margin: auto 10px;
}

.commSwiper {
  width: 100%;
  height: 100%;
  margin-top: 100px;
}
.commSwiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  transition: filter 1s;
}
.commSwiper .swiper-slide-prev {
  filter: brightness(80%);
  transition: filter 1s;
}
.commSwiper .swiper-slide-active img {
  filter: brightness(50%);
  transition: filter 1s;
}
.commSwiper .swiper-slide-active img:hover {
  filter: brightness(40%);
  transition: filter 1s;
  cursor: pointer;
}
.commSwiper .swiper-slide-active h2 {
  display: block !important;
}
.commSwiper .swiper-slide-active:hover p {
  display: block;
}
.commSwiper .swiper-slide-active:hover h2 {
  top: 35% !important;
}
.commSwiper .swiper-slide-next {
  filter: brightness(80%);
  transition: filter 1s;
}
.commSwiper .swiper-slide .swiper-image-div {
  position: relative;
}
.commSwiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.commSwiper .swiper-slide .swiper-text-div {
  font-family: "Lato";
}
.commSwiper .swiper-slide h2,
.commSwiper .swiper-slide p {
  font-weight: normal;
  display: none;
  color: white;
  position: absolute;
  font-size: 35px;
  top: 40%;
  transform: translateY(-40%);
  width: 100%;
}
.commSwiper .swiper-slide p {
  line-height: 25px;
  margin-top: 100px;
  font-size: initial;
}
.commSwiper .swiper-button-container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 94px;
  height: 50px;
  float: right;
  margin-right: 20%;
  bottom: 150px;
  bottom: 0px;
  float: none;
  margin: 20px auto;
}
.commSwiper .swiper-button-next,
.commSwiper .swiper-button-prev {
  background-color: #e56c69;
  color: white;
  padding: 0px 5px;
  height: 35px;
}
.commSwiper .swiper-button-next::after,
.commSwiper .swiper-button-prev::after {
  font-size: 10px;
  font-weight: bold;
}

.commercial-read {
  max-width: 800px;
  margin: auto;
  font-family: "Lato-light";
  text-align: center;
  border-top: 1px solid lightgray;
  padding: 50px;
}

.comm-read-h1 {
  font-weight: normal;
  color: #fe992a;
  font-size: 25px;
}

.comm-read-p {
  color: #7e868e;
  margin: 20px auto;
  line-height: 30px;
  font-size: 18px;
}

.comm-read-more {
  color: #fe992a;
  text-decoration: none;
  font-family: "Lato";
  font-weight: bold;
}
.comm-read-more:hover {
  text-decoration: underline;
}

.commercial-accordion {
  width: 100%;
  background-color: #f7f5f6;
  padding: 50px 0px;
}

.commercial-accordion-inner {
  display: flex;
  margin: auto;
  justify-content: space-between;
  max-width: 800px;
  align-items: center;
}

.flowers {
  flex: 0 0 45%;
}

.accordion {
  flex: 0 0 45%;
}

.accordion-wrapper {
  font-family: "Lato";
  color: #7e868e;
  border-bottom: 1px solid lightgray;
}

.accordion-item {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.accordion-item.active {
  color: #e56c69;
}
.accordion-item.active .icon-plus {
  display: none;
}
.accordion-item.active .icon-minus {
  display: block;
}

.icon-minus {
  display: none;
}

.accordion-content {
  display: none;
  padding: 10px 0;
  line-height: 25px;
}
.accordion-content.show {
  display: block;
}