.page-footer {
  background-color: $red;
  height: 500px;
}

.footer-container {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-between;
  max-width: 1200px;
  padding-top: 50px;
}

.footer {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: "Lato";

  h3 {
    margin-bottom: 10px;
  }

  span {
    margin: 5px 0px;
  }

  a {
    color: white;
    text-decoration: none;
    margin: 5px 0px;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
