.swiper-background {
  width: 100%;
}

.headSwiper {
  height: inherit;

  .swiper-slide {
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
  }
  .swiper-text {
    width: 500px;
    position: absolute;
    top: 25%;
    left: 20%;
    color: white;
    font-family: "Lato-light";
  }
  .swiper-text-h1 {
    font-size: 65px;
    font-weight: normal;
  }
  .swiper-text-p {
    font-weight: bold;
    line-height: 30px;
    margin: 10px 0px;
  }
  .swiper-button-container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 94px;
    height: 50px;
    float: right;
    margin-right: 20%;
    bottom: 150px;
  }
  .swiper-button-next {
    background-color: $red;
    color: white;
    padding: 0px 5px;
    height: 35px;

    &::after {
      font-size: 10px;
      font-weight: bold;
    }
  }
  .swiper-button-prev {
    background-color: $red;
    color: white;
    padding: 0px 5px;
    height: 35px;

    &::after {
      font-size: 10px;
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 1300px) {
  .headSwiper {
    .swiper-text {
      width: 350px;
    }
    .swiper-text-h1 {
      font-size: 45px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .headSwiper {
    .swiper-text {
      width: 300px;
    }
    .swiper-text-h1 {
      font-size: 40px;
    }
    .swiper-text-p {
      font-size: 14px;
      line-height: 25px;
    }
  }
}

@media screen and (max-width: 900px) {
  .headSwiper {
    .swiper-slide img {
      min-height: 500px;
    }
    .swiper-text {
      width: 50%;
      left: 5%;
    }
    .swiper-text-p {
      font-size: 16px;
      line-height: 30px;
    }
    .swiper-button-container {
      margin-right: 5%;
    }
  }
}

@media screen and(max-width:600px) {
  .headSwiper {
    .swiper-text {
      width: 90%;
    }
  }
}

@media screen and(max-width:500px) {
  .headSwiper {
    .swiper-text-h1 {
      font-size: 7vw;
    }
    .swiper-text-p {
      font-size: 4vw;
      line-height: 25px;
    }
  }
}
