@use "sass:math";

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?q62w3y");
  src: url("../fonts/icomoon.eot?q62w3y#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?q62w3y") format("truetype"),
    url("../fonts/icomoon.woff?q62w3y") format("woff"),
    url("../fonts/icomoon.svg?q62w3y#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  // speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-minus:before {
  content: "\e904";
}
.icon-plus:before {
  content: "\e905";
}
.icon-cheveron-down:before {
  content: "\e901";
}
.icon-cheveron-left:before {
  content: "\e902";
}
.icon-cheveron-right:before {
  content: "\e903";
}
.icon-cheveron-up:before {
  content: "\e900";
}

@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: "Lato-bold";
  src: url(../fonts/Lato-Bold.ttf);
}
@font-face {
  font-family: "Lato-light";
  src: url(../fonts/Lato-Light.ttf);
}
@font-face {
  font-family: "Lato-italic";
  src: url(../fonts/Lato-RegularItalic.ttf);
}
@font-face {
  font-family: "Droid";
  src: url(../fonts/DroidSans.ttf);
}
@font-face {
  font-family: "Droid-bold";
  src: url(../fonts/DroidSans-Bold.ttf);
}
@font-face {
  font-family: "Quicksand-bold";
  src: url(../fonts/Quicksand-Bold.otf);
}

@function strip-unit($value) {
  @return math.div($value, ($value * 0 + 1));
}

$bp-mobile: 767px;
$bp-tablet: 1024px;
$bp-desktop: 1200px;

@mixin mobile {
  @media (max-width: $bp-mobile) {
    @content;
  }
}

@mixin non-mobile {
  @media (min-width: (strip-unit($bp-mobile) + 1 + "px")) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $bp-tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: (strip-unit($bp-tablet) + 1 + "px")) {
    @content;
  }
}

* {
  margin: 0;
}

$orange: #fe992a;
$red: #e56c69;
$gray: #7e868e;
$lightgray: #f7f5f6;

@import "./nabvar";
@import "./topslider";
@import "./quoteslider";
@import "./footer";
@import "./commercial";
